[Unit]
Description=go-chat-service

[Service]
Type=simple
User=root
Group=root
PIDFile=
ExecStart=/yourpath/main server
ExecReload=
ExecStop=/yourpath/main -m=stop c=config.ini
PrivateTmp=true

[Install]
WantedBy=multi-user.target