[Unit]
Description=go-chat-service
After=chat.service

[Service]
Type=simple
User=root
Group=root
PIDFile=
ExecStart=/yourpath/ws start -c=config.ini
ExecReload=
ExecStop=/yourpath/ws stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target